{% extends 'base.html' %} {% block title %} All sites {% endblock title %}{#--#}
{% block content %}
<style>
  .site-title {
    margin: 0.5rem 0.5rem;
  }
  .card {
    margin: 0.5rem 0.5rem;
    width: 18rem;
    border-radius: 7px;
  }
</style>

<h1 class="site-title text-center my-4">All Heritage Sites</h1>
<div
  class="mb-lg-5 p-5 w-100 d-flex justify-content-center"
  style="flex-wrap: wrap"
>
  {%for site in sites%}
  <div class="card shadow m-3">
    <img class="card-img-top" src="{{site.image_url_1}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{site.name}}</h5>
      <div class="card-text mb-4">
        <div class="mb-2">
          <i class="fa fa-map-marker mr-2"></i> {{site.location}}
        </div>
        <div class="mb-2">
          <i class="fa fa-clock mr-2"></i> From {{site.open_time}} to
          {{site.close_time}}
        </div>
        <div class="mb-2">
          <i class="fa fa-phone mr-2"></i> Phone: {{site.phone}}
        </div>
      </div>
      <a href="/sites/detail/{{site.id}}/" class="btn btn-outline-dark"
        >View Details</a
      >
    </div>
  </div>
  {%endfor%}
</div>
{% endblock content %}
