{%extends "base.html"%} {%block title%}Home{%endblock%} {%block content%}
<style>
  body {
    background-image: linear-gradient(
        90deg,
        rgba(68, 63, 63, 0.616),
        rgba(194, 193, 185, 0.644)
      ),
      url(https://source.unsplash.com/1920x1080/?monument);
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .page-title {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 2.4rem;
    filter: drop-shadow(2px 2px 2px black);
  }

  .page-desc {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
  }

  .page-content {
    padding: 12% 2%;
    text-align: center;
  }

  .btn {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 448px) {
    .page-content {
      padding: 28% 3%;
    }
  }
</style>
<div class="container-fluid page-content">
  <h1 class="page-title">Heritage's Online Ticket booking System</h1>
  <h4 class="page-desc mt-4">
    A simple Web interface to book Online tickets <br />
    for Monuments and Museums.
  </h4>
  <button class="btn btn-dark mx-2 my-4" onclick="location.href='/sites/'">
    Book Tickets
  </button>
  <button class="btn btn-outline-light mx-2 my-4" onclick="location.href='/tickets/'">
    My Bookings
  </button>
</div>
{%endblock%}
