{%extends "base.html"%} {%block title%}Home{%endblock%} 
{% block customstyle %}
body {
  background-image: linear-gradient(
      90deg,
      rgba(68, 63, 63, 0.616),rgba(194, 193, 185, 0.644)
    ),
    url(https://source.unsplash.com/1920x1080/?monument);
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
}
.page-title{
  font-family: 'Mochiy Pop One', sans-serif; 
  color:white;
  font-size:2rem;
  filter: drop-shadow(3px 3px 3px black);
}

.page-desc{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:1.7rem;
}

.page-content{
  padding:12% 2%;
  text-align:center;
}

.btn{
  margin:3% 2%;
  font-size:1rem;
}

@media screen and (max-width:448px){
  .page-content{
    padding:28% 3%;
  }
}
{% endblock customstyle %}

{%block bodycontent%}
  <div class="container-fluid page-content">
    <h1 class="page-title">Welcome to Online Ticket booking</h1>
    <h4 class="page-desc">A simple Web interface to book Online tickets for Monuments and Museums.</h4>
    <button class="btn btn-dark" onclick=location.href='/sites/'>Book Tickets</button>
    <button class="btn btn-outline-light" onclick=location.href='/tickets/'>My Bookings</button>
  </div>
{%endblock%}
