{%extends "base.html"%} {%block title%}Ticket Details{%endblock%}{#-----#}
{%block content%}
<style>
  .grid-container {
    display: grid;
    grid-template-areas:
      'item1 item2'
      'item3 item4'
      'item5 item6';
    gap: 2rem 5rem;
    padding: 10px;
  }
</style>
<div
  class="d-flex justify-content-center align-items-center p-3 rounded-lg flex-column mt-3"
>
  <div id="element-to-print">
    <h1 class="mb-4">Ticket Details</h1>
    <div class="grid-container">
      <div class="item1">
        <h3>Site</h3>
        <p>{{object.site}}</p>
      </div>
      <div class="item2">
        <h3>Booked By</h3>
        <p>{{object.user}}</p>
      </div>
      <div class="item3">
        <h3>Booked Date</h3>
        <p>{{object.booked_date}}</p>
      </div>
      <div class="item4">
        <h3>Visit Date</h3>
        <p>{{object.visit_date}}</p>
      </div>
      <div class="item5">
        <h3>Ticket QR</h3>
        <canvas id="canvas"></canvas>
      </div>
      <div class="item6">
        <h3>Ticket Count</h3>
        <div style="font-size: 1.6rem">{{object.count}}</div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <button onclick="savePDF()" class="btn btn-info my-3">Save Ticket</button>
    <button
      onclick="window.location.href='/sites/'"
      class="btn btn-dark my-3 mx-3"
    >
      Go Back
    </button>
  </div>
</div>

<script>
  QRCode.toCanvas(
    document.getElementById('canvas'),
    '{{object.ticket_str}}',
    function (error) {
      if (error) console.error(error);
      console.log('success!');
    }
  );

  function savePDF() {
    var element = document.getElementById('element-to-print');
    var opt = {
      margin: 1,
      filename: 'ticket{{object.id}}.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
    };
    html2pdf().set(opt).from(element).save();
    console.log('Saved');
  }
</script>
{%endblock%}
